.lesson-frame {
  padding: 2rem;
  border-radius: 20px;
  width: 50rem;
  align-items: center;
  justify-content: center;
  height: min-content;
  margin: auto;
  min-height: 150px;
}

.questions-frame {
  height: 100%;
  display: flex;
  justify-content: center;
}

.question-title {
  font-size: 24px;
  font-weight: bold;
}
