.card {
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: rgb(102, 169, 208);
	border-radius: 10px;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	width: 10rem;
}

.card:hover {
	background-color: rgb(122, 189, 228);
	cursor: pointer;
}

.heading {
	font-family: "Dangrek", monospace;
	font-size: 34px;
}

.flag {
	width: 6rem;
	border: solid rgb(41, 41, 41) 3px;
	border-radius: 20px;
}
